---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: debugpod
  namespace: home-infra
  labels:
    app.kubernetes.io/name: debugpod
spec:
  replicas: 0
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: debugpod
  template:
    metadata:
      labels:
        app.kubernetes.io/name: debugpod
    spec:
      containers:
      - name: debugpod
        image: {{ versions.ubuntu.repository }}:{{ versions.ubuntu.tag }}
        command:
          - "/bin/sh"
          - "-ec"
          - |
            apt update
            apt install -y tcpdump python3 vim curl iputils-ping bind9-host atop sysstat powertop
            tail -f /dev/null
        securityContext:
          privileged: true
          runAsUser: 0
        volumeMounts:
          - mountPath: /host/log
            name: log
      hostNetwork: true
      hostPID: true
      terminationGracePeriodSeconds: 3
      dnsPolicy: ClusterFirstWithHostNet
      volumes:
        - name: log
          hostPath:
            path: /var/log
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - debugpod
              topologyKey: kubernetes.io/hostname
