---
apiVersion: v1
kind: Namespace
metadata:
  name: kube-fledged

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kube-fledged
  namespace: kube-system
spec:
  repo: https://senthilrch.github.io/kubefledged-charts/
  chart: kube-fledged
  version: {{ versions.kubefledged.chart }}
  targetNamespace: kube-fledged
  valuesContent: |-
    args:
      controllerImageCacheRefreshFrequency: 60m
    resources:
      requests:
        memory: 16Mi
      limits:
        memory: 32Mi

---
apiVersion: kubefledged.io/v1alpha2
kind: ImageCache
metadata:
  name: imagecache
  namespace: kube-fledged
  labels:
    app: kubefledged
    component: imagecache
spec:
  cacheSpec:
  - images:
    - {{ versions.traefik.image.repository }}:{{ versions.traefik.image.tag }}
    - {{ versions.blocky.image.repository }}:{{ versions.blocky.image.tag }}
    - {{ versions.homeassistant.image.repository }}:{{ versions.homeassistant.image.tag }}
    - {{ versions.nodered.image.repository }}:{{ versions.nodered.image.tag }}
    - {{ versions.unifi.image.repository }}:{{ versions.unifi.image.tag }}
    - {{ versions.metallb.controller.repository }}:{{ versions.metallb.controller.tag }}
    - {{ versions.metallb.speaker.repository }}:{{ versions.metallb.speaker.tag }}
    - {{ versions.recorder.repository }}:{{ versions.recorder.tag }}
    - {{ versions.ubuntu.repository }}:{{ versions.ubuntu.tag }}
    - {{ versions.nut.image.repository }}:{{ versions.nut.image.tag }}
    - {{ versions.restic.repository }}:{{ versions.restic.tag }}
    - {{ versions.frigate.image.repository }}:{{ versions.frigate.image.tag }}
    - {{ versions.zigbee2mqtt.image.repository }}:{{ versions.zigbee2mqtt.image.tag }}
    - {{ versions.smsgammu.repository }}:{{ versions.smsgammu.tag }}
    - {{ versions.mysql.image.registry }}/{{ versions.mysql.image.repository }}:{{ versions.mysql.image.tag }}
    - {{ versions.authelia.repository }}:{{ versions.authelia.tag }}
