---
apiVersion: v1
kind: Namespace
metadata:
  name: kube-fledged

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kube-fledged
  namespace: kube-system
spec:
  repo: https://senthilrch.github.io/kubefledged-charts/
  chart: kube-fledged
  version: {{ manifest.versions.kubefledged.chart }}
  targetNamespace: kube-fledged
  valuesContent: |-
    args:
      controllerImageCacheRefreshFrequency: 60m
    resources:
      requests:
        memory: 16Mi
      limits:
        memory: 32Mi

---
apiVersion: kubefledged.io/v1alpha2
kind: ImageCache
metadata:
  name: imagecache
  namespace: kube-fledged
  labels:
    app: kubefledged
    component: imagecache
spec:
  cacheSpec:
  - images:
    - {{ manifest.versions.ceph.image.repository }}:{{ manifest.versions.ceph.image.tag }}
    - {{ manifest.versions.traefik.image.repository }}:{{ manifest.versions.traefik.image.tag }}
    - {{ manifest.versions.blocky.image.repository }}:{{ manifest.versions.blocky.image.tag }}
    - {{ manifest.versions.homeassistant.image.repository }}:{{ manifest.versions.homeassistant.image.tag }}
    - {{ manifest.versions.nodered.image.repository }}:{{ manifest.versions.nodered.image.tag }}
    - {{ manifest.versions.unifi.image.repository }}:{{ manifest.versions.unifi.image.tag }}
    - {{ manifest.versions.metallb.controller.repository }}:{{ manifest.versions.metallb.controller.tag }}
    - {{ manifest.versions.metallb.speaker.repository }}:{{ manifest.versions.metallb.speaker.tag }}
    - {{ manifest.versions.recorder.repository }}:{{ manifest.versions.recorder.tag }}
    - {{ manifest.versions.ubuntu.repository }}:{{ manifest.versions.ubuntu.tag }}
    - {{ manifest.versions.nut.image.repository }}:{{ manifest.versions.nut.image.tag }}
    - {{ manifest.versions.samba.repository }}:{{ manifest.versions.samba.tag }}
    - {{ manifest.versions.restic.repository }}:{{ manifest.versions.restic.tag }}
    - {{ manifest.versions.frigate.image.repository }}:{{ manifest.versions.frigate.image.tag }}
    - {{ manifest.versions.zigbee2mqtt.image.repository }}:{{ manifest.versions.zigbee2mqtt.image.tag }}
    - {{ manifest.versions.smsgammu.repository }}:{{ manifest.versions.smsgammu.tag }}
    - {{ manifest.versions.mysql.image.registry }}/{{ manifest.versions.mysql.image.repository }}:{{ manifest.versions.mysql.image.tag }}
    - {{ manifest.versions.authelia.repository }}:{{ manifest.versions.authelia.tag }}
