---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kubernetes-reflector
  namespace: kube-system
spec:
  repo: https://emberstack.github.io/helm-charts
  chart: reflector
  version: {{ manifest.versions.reflector.chart }}
  targetNamespace: kube-system
  valuesContent: |-
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 256Mi
