---
apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: metallb
  namespace: kube-system
spec:
  repo: https://metallb.github.io/metallb
  chart: metallb
  version: {{ versions.metallb.chart }}
  targetNamespace: metallb-system
  valuesContent: |-
    controller:
      resources:
        limits:
          cpu: 75m
          memory: 64Mi
      image:
        repository: {{ versions.metallb.controller.repository }}
        tag: {{ versions.metallb.controller.tag }}
    speaker:
      image:
        repository: {{ versions.metallb.speaker.repository }}
        tag: {{ versions.metallb.speaker.tag }}
      resources:
        limits:
          cpu: 75m
          memory: 64Mi
    prometheus:
      scrapeAnnotations: true
    configInline:
      {{ manifest.metallb.config | to_nice_yaml | indent(6, false) }}
