{%- if global.k8s.storage.service == 'longhorn' -%}
---
apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: longhorn
  namespace: kube-system
spec:
  chart: longhorn
  repo: https://charts.longhorn.io
  version: {{ manifest.versions.longhorn.chart }}
  targetNamespace: longhorn-system
  valuesContent: |-
    defaultSettings:
      storageOverProvisioningPercentage: 100
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      replicaAutoBalance: best-effort
      concurrentAutomaticEngineUpgradePerNodeLimit: 1
    annotations:
      prometheus.io/scrape: 'true'
      prometheus.io/port: '9500'

---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: longhorn-standard
provisioner: driver.longhorn.io
allowVolumeExpansion: true
mountOptions:
  - noatime
parameters:
  numberOfReplicas: "2"
  staleReplicaTimeout: "2880" # 48 hours in minutes
  fromBackup: ""

---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: longhorn-standard-with-snapshots
provisioner: driver.longhorn.io
allowVolumeExpansion: true
mountOptions:
  - noatime
parameters:
  numberOfReplicas: "2"
  staleReplicaTimeout: "2880" # 48 hours in minutes
  fromBackup: ""
  recurringJobs: '[
    { 
      "name":"snap", 
      "task":"snapshot", 
      "cron":"15 */6 * * *", 
      "retain": 8
    }
  ]'
{%- elif global.k8s.storage.service == 'rook-ceph' -%}
---
apiVersion: v1
kind: Namespace
metadata:
  name: rook-ceph

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rook-config-override
  namespace: rook-ceph
data:
  config: ""

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: rook-ceph
  namespace: kube-system
spec:
  chart: rook-ceph
  repo: https://charts.rook.io/release
  version: {{ manifest.versions.ceph.chart }}
  targetNamespace: rook-ceph
  valuesContent: |
    csi:
      csiRBDProvisionerResource: |
        - name: csi-provisioner
          resource:
            requests:
              memory: 32Mi
            limits:
              memory: 64Mi
      csiRBDPluginResource: |
        - name: csi-rbdplugin
          resource:
            requests:
              memory: 64Mi
            limits:
              memory: 128Mi
      csiCephFSProvisionerResource: |
        - name: csi-provisioner
          resource:
            requests:
              memory: 32Mi
            limits:
              memory: 64Mi
      csiCephFSPluginResource: |
        - name: csi-cephfsplugin
          resource:
            requests:
              memory: 64Mi
            limits:
              memory: 128Mi
    resources:
      limits:
        cpu: 600m
        memory: 256Mi
      requests:
        cpu: 300m
        memory: 128Mi

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: rook-ceph-cluster
  namespace: kube-system
spec:
  chart: rook-ceph-cluster
  repo: https://charts.rook.io/release
  version: {{ manifest.versions.ceph.chart }}
  targetNamespace: rook-ceph
  valuesContent: |-
    toolbox:
      enabled: true
    cephClusterSpec:
      cephVersion:
        image: {{ manifest.versions.ceph.image.repository }}:{{ manifest.versions.ceph.image.tag }}
      mgr:
        count: 1
      resources:
        mon:
          limits:
            memory: 1536Mi
          requests:
            memory: 512Mi
        mgr:
          limits:
            memory: 768Mi
          requests:
            memory: 512Mi
        osd:
          limits:
            memory: 2Gi
          requests:
            memory: 512Mi
        crashcollector:
          limits:
            memory: 32Mi
          requests:
            memory: 16Mi
      dashboard:
        enabled: true
      crashCollector:
        disable: false
        daysToRetain: 30
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
        storageClass:
          enabled: true
          name: ceph-block
          isDefault: false
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          parameters:
            imageFormat: "2"
            imageFeatures: layering
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: rook-ceph
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
            csi.storage.k8s.io/fstype: ext4
    cephFileSystems:
      - name: ceph-filesystem
        spec:
          metadataPool:
            replicated:
              size: 3
          dataPools:
            - failureDomain: host
              replicated:
                size: 3
          metadataServer:
            activeCount: 1
            activeStandby: true
        storageClass:
          enabled: true
          isDefault: false
          name: ceph-filesystem
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          parameters:
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: rook-ceph
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-cephfs-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: rook-ceph
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-cephfs-node
            csi.storage.k8s.io/node-stage-secret-namespace: rook-ceph
            csi.storage.k8s.io/fstype: ext4
    cephObjectStores: {}
{%- endif -%}
