---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: admin-user
  namespace: kube-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: admin-user
  namespace: kube-system

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: k8s-dashboard
  namespace: kube-system
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`k8s.{{ global.domain }}`)
    kind: Rule
    services:
      - name: k8s-dashboard-kubernetes-dashboard
        port: 443
        namespace: kube-system
  tls:
    secretName: "{{ global.domain | replace('.', '-') }}-tls"

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: k8s-dashboard
  namespace: kube-system
spec:
  chart: kubernetes-dashboard
  repo: https://kubernetes.github.io/dashboard/
  version: {{ manifest.versions.k8s_dashboard.chart }}
  targetNamespace: kube-system
  valuesContent: |-
    resources:
      requests:
        cpu: 50m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 64Mi
