---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant
  namespace: smart-home
spec:
  accessModes:
  - {{ global.k8s.storage.class.default.mode }}
  resources:
    requests:
      storage: 5Gi
  storageClassName: {{ global.k8s.storage.class.default.name }}

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: home-assistant
  namespace: smart-home
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`ha.{{ global.domain }}`)
    kind: Rule
    services:
      - name: home-assistant
        port: 8123
        namespace: smart-home
    middlewares:
      - name: x-forwarded-proto-https
        namespace: traefik-system
      - name: auth-authelia
        namespace: traefik-system
  tls:
    secretName: "{{ global.domain | replace('.', '-') }}-tls"

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: home-assistant-restic-restore
  namespace: smart-home
spec:
  concurrencyPolicy: Forbid
  schedule: "0 0 * * *"
  suspend: true
  jobTemplate:
    spec:
      template:
        spec:
          hostname: home-assistant
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: home-assistant
          containers:
          - name: restore
            image: {{ manifest.versions.restic.repository }}:{{ manifest.versions.restic.tag }}
            args:
            - "--repo"
            - "{{ manifest.backup.restic.repo }}"
            - "--verbose"
            - "restore"
            - "latest"
            - "--host"
            - "home-assistant"
            - "--target"
            - "/data"
            volumeMounts:
            - mountPath: "/data"
              name: data
            envFrom:
            - secretRef:
                name: restic-secrets
          restartPolicy: OnFailure

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: home-assistant-restic-backup
  namespace: smart-home
spec:
  concurrencyPolicy: Forbid
  schedule: "20 04 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          hostname: home-assistant
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: home-assistant
          containers:
          - name: backup
            image: {{ manifest.versions.restic.repository }}:{{ manifest.versions.restic.tag }}
            command:
            - "/bin/sh"
            - "-ec"
            - |
              cd /data
              restic --repo "{{ manifest.backup.restic.repo }}" --verbose backup .
            volumeMounts:
            - mountPath: "/data"
              name: data
            envFrom:
            - secretRef:
                name: restic-secrets
          restartPolicy: OnFailure
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - home-assistant
                  topologyKey: kubernetes.io/hostname
