---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki
  namespace: home-infra
spec:
  accessModes:
  - {{ global.k8s.storage.class.default.mode }}
  resources:
    requests:
      storage: 20Gi
  storageClassName: {{ global.k8s.storage.class.default.name }}
