{%- if global.k8s.mqtt.service == 'mosquitto' -%}
{% for r in [0, 1] %}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: mosquitto-{{ r }}
  namespace: kube-system
spec:
  repo: https://k8s-at-home.com/charts/
  chart: mosquitto
  version: {{ manifest.versions.mosquitto.chart }}
  targetNamespace: smart-home
  valuesContent: |-
    podSecurityContext:
      sysctls:
        - name: "net.ipv4.tcp_keepalive_intvl"
          value: "5"
        - name: "net.ipv4.tcp_keepalive_probes"
          value: "3"
        - name: "net.ipv4.tcp_keepalive_time"
          value: "30"
    resources:
      requests:
        memory: 32Mi
        cpu: 50m
      limits:
        memory: 32Mi
        cpu: 50m
    image:
      repository: {{ manifest.versions.mosquitto.image.repository }}
      tag: {{ manifest.versions.mosquitto.image.tag }}
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - mosquitto
              topologyKey: kubernetes.io/hostname
    env:
      TZ: {{ global.timezone }}
    persistence:
      configinc:
        enabled: true
        type: custom
        volumeSpec:
          secret:
            secretName: mosquitto-{{ r }}
      data:
        enabled: false
    service:
      main:
        enabled: true
    auth:
      enabled: true
{% endfor %}
{%- endif %}
