---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-server
  namespace: home-infra
spec:
  accessModes:
  - {{ global.k8s.storage.class.default.mode }}
  resources:
    requests:
      storage: 10Gi
  storageClassName: {{ global.k8s.storage.class.default.name }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alertmanager
  namespace: home-infra
spec:
  accessModes:
  - {{ global.k8s.storage.class.default.mode }}
  resources:
    requests:
      storage: 1Gi
  storageClassName: {{ global.k8s.storage.class.default.name }}

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: home-infra
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`prometheus.{{ global.domain }}`)
    kind: Rule
    services:
      - name: prometheus-server
        port: 80
        namespace: home-infra
    middlewares:
      - name: lan-whitelist
        namespace: traefik-system
      - name: auth
        namespace: traefik-system
  tls:
    secretName: "{{ global.domain | replace('.', '-') }}-tls"

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: alertmanager
  namespace: home-infra
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`alertmanager.{{ global.domain }}`)
    kind: Rule
    services:
      - name: prometheus-alertmanager
        port: 80
        namespace: home-infra
    middlewares:
      - name: lan-whitelist
        namespace: traefik-system
      - name: auth
        namespace: traefik-system
  tls:
    secretName: "{{ global.domain | replace('.', '-') }}-tls"
