---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: mosquitto
  namespace: kube-system
spec:
  repo: https://k8s-at-home.com/charts/
  chart: mosquitto
  version: {{ manifest.versions.mosquitto.chart }}
  targetNamespace: home-infra
  valuesContent: |-
    image:
      repository: {{ manifest.versions.mosquitto.image.repository }}
      tag: {{ manifest.versions.mosquitto.image.tag }}
    env:
      TZ: {{ manifest.timezone }}
    persistence:
      configinc:
        enabled: true
        type: custom
        volumeSpec:
          secret:
            secretName: mosquitto
      data:
        enabled: true
        storageClass: longhorn-standard
        size: 1Gi
        type: pvc
        accessMode: ReadWriteOnce
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: "{{ manifest.vips[3].ip }}"
        externalTrafficPolicy: Local
        ports:
          http:
            enabled: false
          mqtt:
            enabled: true
    auth:
      enabled: true
