---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: quick-ups-battery-check
  namespace: home-infra
spec:
  concurrencyPolicy: Forbid
  schedule: "0 20 5,25 * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: battery-check
            image: {{ manifest.versions.nut.image.repository }}:{{ manifest.versions.nut.image.tag }}
            imagePullPolicy: IfNotPresent
            command:
            - "/bin/sh"
            - "-ec"
            - |
              /usr/local/ups/bin/upscmd -u admin -p '{{ manifest.nut.auth.admin }}' apc@network-ups-tools.home-infra test.battery.start.quick
          restartPolicy: OnFailure

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: deep-ups-battery-check
  namespace: home-infra
spec:
  concurrencyPolicy: Forbid
  schedule: "0 18 16 */3 *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: batter-check
            image: {{ manifest.versions.nut.image.repository }}:{{ manifest.versions.nut.image.tag }}
            imagePullPolicy: IfNotPresent
            command:
            - "/bin/sh"
            - "-ec"
            - |
              /usr/local/ups/bin/upscmd -u admin -p '{{ manifest.nut.auth.admin }}' apc@network-ups-tools.home-infra test.battery.start.deep
          restartPolicy: OnFailure

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: network-ups-tools
  namespace: kube-system
spec:
  repo: https://k8s-at-home.com/charts/
  chart: network-ups-tools
  version: {{ manifest.versions.nut.chart }}
  targetNamespace: home-infra
  valuesContent: |-
    resources:
      requests:
        memory: 8Mi
        cpu: 5m
      limits:
        memory: 16Mi
        cpu: 10m
    lifecycle:
      postStart:
        exec:
          command:
            - "/bin/sh"
            - "-ec"
            - |
              sleep 30
              /usr/local/ups/bin/upscmd -u admin -p '{{ manifest.nut.auth.admin }}' apc@127.0.0.1 beeper.disable
    image:
      repository: {{ manifest.versions.nut.image.repository }}
      tag: {{ manifest.versions.nut.image.tag }}
    env:
      TZ: {{ global.timezone }}
    service:
      main:
        ports:
          http:
            enabled: false
          server:
            enabled: true
    securityContext:
      privileged: true
    persistence:
      usb:
        enabled: true
        type: hostPath
        hostPath: /dev/usb/hiddev0
    config: 
      mode: values
      files:
        nut.conf: |
          MODE=netserver

        ups.conf: |
          maxretry = 3
          [apc]
            driver = usbhid-ups
            port = auto
            ignorelb
            override.battery.charge.low = 3
            override.battery.runtime.low = 5

        upsd.conf: |
          LISTEN 0.0.0.0 3493

        upsd.users: |
          [admin]
            password = {{ manifest.nut.auth.admin }}
            actions = SET FSD
            instcmds = ALL
            upsmon master
          [hass]
            password = {{ manifest.nut.auth.hass }}

    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
              - key: ups_controller
                operator: In
                values:
                  - "true"
