network:
  ethernets:
    {{ primary_interface }}:
{% if primary_mac != false %}
      match:
        macaddress: {{ primary_mac }}
      set-name: {{ primary_interface }}
{% endif %}
      dhcp4: true
      dhcp4-overrides:
        use-dns: false
      nameservers:
        addresses:
{% for s in dns_servers %}
{% if loop.index < 3 %}
        - {{ s }}
{% endif %}
{% endfor %}
{% if vlans != false %}
  vlans:
{% for v in vlans %}
    vlan{{ v }}:
      id: {{ v }}
      link: {{ primary_interface }}
{% endfor %}
{% endif %}
  version: 2
