#managed by ansible
[Unit]
After={{ data.after }}
Wants={{ data.wants }}
[Service]
ExecStart={{ data.exec_start }}
{% if data.environment_file is defined %}
EnvironmentFile={{ data.environment_file }}
{% endif %}
{% if data.user is defined %}
User={{ data.user }}
{% endif %}
[Install]
WantedBy={{ data.wanted_by }}
