---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: esphome
  namespace: kube-system
spec:
  chart: esphome
  repo: https://k8s-at-home.com/charts/
  version: {{ manifest.versions.esphome.chart }}
  targetNamespace: smart-home
  valuesContent: |-
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 25m
        memory: 64Mi
    env:
      TZ: {{ global.timezone }}
    image:
      repository: {{ manifest.versions.esphome.image.repository }}
      tag: {{ manifest.versions.esphome.image.tag }}
    persistence:
      config:
        enabled: true
        existingClaim: esphome
