---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: unifi
  namespace: kube-system
spec:
  chart: unifi
  repo: https://k8s-at-home.com/charts/
  version: {{ manifest.versions.unifi.chart }}
  targetNamespace: home-infra
  valuesContent: |-
    env:
      TZ: {{ global.timezone }}
      JVM_MAX_HEAP_SIZE: 512M
    image:
      repository: {{ manifest.versions.unifi.image.repository }}
      tag: {{ manifest.versions.unifi.image.tag }}
    persistence:
      data:
        enabled: true
        existingClaim: unifi
    service:
      main:
        type: LoadBalancer
        loadBalancerIP: "{{ global.vips[1].ip }}"
        externalTrafficPolicy: Local
        annotations:
          metallb.universe.tf/allow-shared-ip: "{{ global.vips[1].ip }}"
        ports:
          http:
            enabled: true
          controller:
            enabled: true
          stun:
            enabled: false
          discovery:
            enabled: false
          syslog:
            enabled: false
          portal-http:
            enabled: false
          portal-https:
            enabled: false
          speedtest:
            enabled: false
      vip-udp:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: "{{ global.vips[1].ip }}"
        externalTrafficPolicy: Local
        annotations:
          metallb.universe.tf/allow-shared-ip: "{{ global.vips[1].ip }}"
        ports:
          stun:
            port: 3478
            enabled: true
            protocol: UDP
          discovery:
            port: 10001
            enabled: true
            protocol: UDP
    resources:
      requests:
        memory: 500Mi
      limits:
        memory: 1Gi
