---
apiVersion: v1
data:
  credentials.txt: {{ ("admin:" + manifest.sms.password) | b64encode }}
kind: Secret
metadata:
  name: sms-gammu-credentials
  namespace: smart-home
type: Opaque

---
apiVersion: v1
data:
  secret_key: {{ manifest.r53.secret_key | b64encode }}
kind: Secret
metadata:
  name: aws-credentials
  namespace: cert-manager
type: Opaque

---
apiVersion: v1
data:
  id_rsa: {{ manifest.recorder.secret.id_rsa | b64encode }}
  mqtt_password: {{ manifest.recorder.secret.mqtt_password | b64encode }}
  ssh_server: {{ manifest.recorder.secret.ssh_server | b64encode }}
kind: Secret
metadata:
  name: recorder
  namespace: smart-home
type: Opaque

---
apiVersion: v1
data:
  RESTIC_PASSWORD: {{ manifest.backup.restic.password | b64encode }}
kind: Secret
metadata:
  name: restic-secrets
  namespace: kube-system
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
type: Opaque

{% if global.k8s.mqtt.service == 'mosquitto' %}
---
apiVersion: v1
data:
  auth.conf: {{ "password_file /mosquitto/configinc/passwd" | b64encode }}
  passwd: {{ manifest.mosquitto.htaccess | join('\n') | b64encode }}
  bridge.conf: {{ manifest.mosquitto.bridge.config | b64encode }}
kind: Secret
metadata:
  name: mosquitto-0
  namespace: smart-home
type: Opaque

---
apiVersion: v1
data:
  auth.conf: {{ "password_file /mosquitto/configinc/passwd" | b64encode }}
  passwd: {{ manifest.mosquitto.htaccess | join('\n') | b64encode }}
kind: Secret
metadata:
  name: mosquitto-1
  namespace: smart-home
type: Opaque

{% endif %}
