---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: home-infra
  name: authelia-conf
data:
  users.yml: |-
    users:
      {{ manifest.authelia.users | to_nice_yaml | indent(6, false) }}
  configuration.yml: |-
    identity_providers:
       {{ manifest.authelia.identity_providers | to_nice_yaml | indent(6, false) }}
    authentication_backend:
      disable_reset_password: true
      file:
        path: /config/users.yml
        password:
          algorithm: argon2id
          iterations: 1
          salt_length: 16
          parallelism: 8
          memory: 64
    session:
      domain: {{ global.domain }}
      expiration: 3600
      remember_me_duration: 2592000
    notifier:
      disable_startup_check: true
      {{ manifest.authelia.notifier | to_nice_yaml | indent(6, false) }}
    storage:
      encryption_key: {{ manifest.authelia.storage.encryption_key }}
      local:
        path: /data/db.sqlite
    access_control:
      default_policy: deny
      networks:
        - name: lan
          networks:
{% for elem in manifest.traefik.lan_ip %}
            - {{ elem }}
{% endfor %}
      rules:
        - domain:
            - 'ha.{{ global.domain }}'
          policy: bypass
          resources:
            - '^/api/webhook/.*$'
            - '^/api/websocket$'
            - '^/auth/token$'
            - '^/api/ios/config$'
        - domain:
            - 'grafana.{{ global.domain }}'
            - 'unifi.{{ global.domain }}'
            - 'k8s.{{ global.domain }}'
            - 'storage.{{ global.domain }}'
            - 'node-red.{{ global.domain }}'
            - 'ha.{{ global.domain }}'
          networks:
            - lan
          policy: bypass
        - domain: '*.{{ global.domain }}'
          networks:
            - lan
          subject: 'group:admin'
          policy: two_factor
    regulation:
      max_retries: 3
      find_time: 300
      ban_time: 900
    default_redirection_url: https://auth.{{ global.domain }}
    jwt_secret: {{ manifest.authelia.jwt_secret }}
    webauthn:
      disable: true
    server:
      read_buffer_size: 16384
      write_buffer_size: 16384

---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: home-infra
  name: authelia
  labels:
    app: authelia
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authelia
  template:
    metadata:
      labels:
        app: authelia
    spec:
      containers:
        - name: authelia
          image: {{ manifest.versions.authelia.repository }}:{{ manifest.versions.authelia.tag }}
          resources:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 50m
          ports:
            - name: http
              containerPort: 9091
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /config
            - name: data
              mountPath: /data
      terminationGracePeriodSeconds: 3
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: authelia
        - name: config
          configMap:
            name: authelia-conf
