---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
  namespace: kube-system
spec:
  repo: https://charts.jetstack.io
  chart: cert-manager
  version: {{ manifest.versions.certmanager.chart }}
  targetNamespace: cert-manager
  valuesContent: |-
    image:
      repository: {{ manifest.versions.certmanager.image.repository }}
      tag: {{ manifest.versions.certmanager.image.tag }}
    extraEnv:
      - name: TZ
        value: {{ global.timezone }}
    extraArgs:
      - "--dns01-recursive-nameservers-only"
      - "--dns01-recursive-nameservers=8.8.8.8:53,1.1.1.1:53"
    installCRDs: true
    prometheus:
      enabled: true
      servicemonitor:
        enabled: false
    resources:
      requests:
        memory: 64Mi
      limits:
        memory: 128Mi
    webhook:
      resources:
        requests:
          memory: 32Mi
        limits:
          memory: 64Mi
    cainjector:
      resources:
        requests:
          memory: 64Mi
        limits:
          memory: 96Mi

---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: letsencrypt
  namespace: cert-manager
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{ global.mail }}
    privateKeySecretRef:
      name: letsencrypt-account-key
    solvers:
      - dns01:
          route53:
            region: us-east-1
            accessKeyID: {{ manifest.r53.access_key }}
            secretAccessKeySecretRef:
              key: secret_key
              name: aws-credentials

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: tls-certificate
  namespace: cert-manager
  annotations: 
    reflector.v1.k8s.emberstack.com/secret-reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/secret-reflection-auto-enabled: "true"
spec:
  dnsNames:
    - "{{ global.domain }}"
    - "*.{{ global.domain }}"
  issuerRef:
    name: letsencrypt
  secretName: "{{ global.domain | replace('.', '-') }}-tls"
  renewBefore: 720h
  duration: 2160h
