{%- if global.k8s.mqtt.service == 'mosquitto' -%}
---
apiVersion: v1
kind: Service
metadata:
  name: mqtt
  namespace: smart-home
  labels:
    app.kubernetes.io/name: mqtt
spec:
  type: LoadBalancer
  loadBalancerIP: "{{ global.vips[3].ip }}"
  externalTrafficPolicy: Local
  publishNotReadyAddresses: false
  ports:
    - name: mqtt
      port: 1883
      protocol: TCP
  selector:
    app.kubernetes.io/name: mosquitto

{%- elif global.k8s.mqtt.service == 'broker-ha' -%}

---
apiVersion: v1
kind: Service
metadata:
  name: broker-headless
  namespace: smart-home
spec:
  clusterIP: None
  selector:
    app.kubernetes.io/name: broker-ha
  ports:
    - protocol: TCP
      port: 7946
      targetPort: 7946

---
apiVersion: v1
kind: Service
metadata:
  name: mqtt
  namespace: smart-home
  labels:
    app.kubernetes.io/name: mqtt
spec:
  type: LoadBalancer
  loadBalancerIP: "{{ global.vips[3].ip }}"
  externalTrafficPolicy: Local
  publishNotReadyAddresses: false
  ports:
    - name: mqtt
      port: 1883
      protocol: TCP
  selector:
    app.kubernetes.io/name: broker-ha

{%- endif %}
