---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: oauth-proxy
  namespace: home-infra
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`oauth-proxy.{{ global.domain }}`)
    kind: Rule
    services:
      - name: oauth2-proxy
        port: 80
        namespace: home-infra
    middlewares:
      - name: auth-oauth-headers
        namespace: traefik-system
  tls:
    secretName: "{{ global.domain | replace('.', '-') }}-tls"

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: oauth2-proxy
  namespace: kube-system
spec:
  chart: oauth2-proxy
  repo: https://oauth2-proxy.github.io/manifests
  version: {{ manifest.versions.oauth2_proxy.chart }}
  targetNamespace: home-infra
  valuesContent: |-
    resources:
      requests:
        memory: 16Mi
        cpu: 10m
      limits:
        memory: 32Mi
        cpu: 20m
    extraArgs:
      provider: oidc
      provider-display-name: "Authelia OIDC Provider"
      redirect-url: https://oauth-proxy.{{ global.domain }}/oauth2/callback
      oidc-issuer-url: https://auth.{{ global.domain }}
      reverse-proxy: true
      whitelist-domain: .{{ global.domain }}
      cookie-domain: .{{ global.domain }}
      set-xauthrequest: true
      upstream: static://202
      silence-ping-logging: true
      set-authorization-header: true
      scope: "openid profile email groups"
    config:
      clientID: {{ manifest.oauth2_proxy.client_id }}
      clientSecret: {{ manifest.oauth2_proxy.client_secret }}
      cookieSecret: {{ manifest.oauth2_proxy.cookie_secret }}
