{%- if global.k8s.storage.service == 'longhorn' -%}
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`storage.{{ global.domain }}`)
    kind: Rule
    services:
      - name: longhorn-frontend
        port: 80
        namespace: longhorn-system
    middlewares:
      - name: lan-whitelist
        namespace: traefik-system
      - name: auth-authelia
        namespace: traefik-system
      - name: x-forwarded-proto-https
        namespace: traefik-system
  tls:
    secretName: "{{ global.domain | replace('.', '-') }}-tls"
{%- elif global.k8s.storage.service == 'rook-ceph' -%}
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: rook-ceph
  namespace: rook-ceph
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`storage.{{ global.domain }}`)
    kind: Rule
    services:
      - name: rook-ceph-mgr-dashboard
        port: 8443
        namespace: rook-ceph
    middlewares:
      - name: lan-whitelist
        namespace: traefik-system
      - name: x-forwarded-proto-https
        namespace: traefik-system
  tls:
    secretName: "{{ global.domain | replace('.', '-') }}-tls"
{%- endif -%}
