---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: blocky
  namespace: kube-system
spec:
  repo: https://k8s-at-home.com/charts/
  chart: blocky
  version: {{ manifest.versions.blocky.chart }}
  targetNamespace: home-infra
  valuesContent: |-
    image:
      repository: {{ manifest.versions.blocky.image.repository }}
      tag: {{ manifest.versions.blocky.image.tag }}
    env:
      TZ: {{ manifest.timezone }}
    podAnnotations:
      prometheus.io/scrape: 'true'
      prometheus.io/port: '4000'
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - blocky
            topologyKey: kubernetes.io/hostname
    controller:
      replicas: 2
    service:
      dns-tcp:
        enabled: false
      dns-udp:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: "{{ manifest.vips[0].ip }}"
    config: |
      httpPort: 4000
      prometheus:
        enable: true
      upstream:
        default:
          {%- for dns_server in global.dns_servers %}
          - {{ dns_server }}
          {%- endfor %}
      conditional:
        mapping:
          {%- for key, value in manifest.blocky.conditional.mapping.items() %}
          {{ key }}: {{ value }}
          {%- endfor %}
      customDNS:
        mapping:
          {%- for key, value in manifest.blocky.custom_dns.mapping.items() %}
          {{ key }}: {{ value }}
          {%- endfor %}
      blocking:
        blackLists:
        {%- for key, value in manifest.blocky.blocking.blacklist.items() %}
          {{ key }}:
            {%- for elem in value %}
            - {{ elem }}
            {%- endfor %}
        {%- endfor %}
        clientGroupsBlock:
        {%- for key, value in manifest.blocky.blocking.client_group.items() %}
          {{ key }}:
            {%- for elem in value %}
            - {{ elem }}
            {%- endfor %}
        {%- endfor %}
        refreshPeriod: 120
        blockType: zeroIP
      caching:
        minTime: 5
        maxTime: 10
