---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: esphome
  namespace: kube-system
spec:
  chart: esphome
  repo: https://k8s-at-home.com/charts/
  version: {{ versions.esphome.chart }}
  targetNamespace: smart-home
  valuesContent: |-
    controller:
      replicas: 0
    env:
      TZ: {{ global.timezone }}
    image:
      repository: {{ versions.esphome.image.repository }}
      tag: {{ versions.esphome.image.tag }}
    persistence:
      config:
        enabled: true
        existingClaim: esphome
