---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: grafana
  namespace: kube-system
spec:
  chart: grafana
  repo: https://grafana.github.io/helm-charts
  version: {{ manifest.versions.grafana.chart }}
  targetNamespace: home-infra
  valuesContent: |-
    resources:
      requests:
        memory: 128Mi
      limits:
        memory: 128Mi
    image:
      repository: {{ manifest.versions.grafana.image.repository }}
      tag: {{ manifest.versions.grafana.image.tag }}
    ingress:
      enabled: false
    deploymentStrategy:
      type: Recreate
    persistence:
      enabled: true
      existingClaim: grafana
    adminUser: admin
    adminPassword: "{{ manifest.grafana.password }}"
    grafana.ini:
      security:
        allow_embedding: true
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            url: http://prometheus-server.home-infra
            access: proxy
            isDefault: true
