---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: grafana
  namespace: kube-system
spec:
  chart: grafana
  repo: https://grafana.github.io/helm-charts
  version: {{ versions.grafana.chart }}
  targetNamespace: home-infra
  valuesContent: |-
    resources:
      requests:
        memory: 32Mi
      limits:
        memory: 64Mi
    image:
      repository: {{ versions.grafana.image.repository }}
      tag: {{ versions.grafana.image.tag }}
    ingress:
      enabled: false
    deploymentStrategy:
      type: Recreate
    persistence:
      enabled: true
      existingClaim: grafana
    adminUser: admin
    adminPassword: "{{ manifest.grafana.password }}"
    grafana.ini:
      server:
        domain: grafana.{{ global.domain }}
        root_url: https://%(domain)s/
      security:
        allow_embedding: true
      {{ manifest.grafana.additional_config | to_nice_yaml | indent(6, false) }}
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            url: http://prometheus-server.home-infra
            access: proxy
            isDefault: true
