---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: node-red
  namespace: kube-system
spec:
  chart: node-red
  repo: https://k8s-at-home.com/charts/
  version: {{ versions.nodered.chart }}
  targetNamespace: smart-home
  valuesContent: |-
    resources:
      requests:
        memory: 384Mi
        cpu: 500m
      limits:
        memory: 384Mi
        cpu: 500m
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - home-assistant
                      - zigbee2mqtt
              topologyKey: kubernetes.io/hostname
    env:
      TZ: {{ global.timezone }}
    image:
      repository: {{ versions.nodered.image.repository }}
      tag: {{ versions.nodered.image.tag }}
    persistence:
      data:
        enabled: true
        existingClaim: node-red
    ingress:
      main:
        enabled: false
    podSecurityContext:
      fsGroup: 1000
    probes:
      liveness:
        enabled: true
        custom: true
        spec:
          periodSeconds: 10
          failureThreshold: 3
          initialDelaySeconds: 60
          httpGet:
            path: /dead-man-switch
            port: 1880
