---
apiVersion: v1
kind: Service
metadata:
  name: sms-gammu
  namespace: smart-home
  labels:
    app.kubernetes.io/name: sms-gammu
spec:
  type: ClusterIP
  publishNotReadyAddresses: false
  ports:
    - name: sms-gammu
      port: 5000
      protocol: TCP
      targetPort: 5000
  selector:
    app.kubernetes.io/name: sms-gammu
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sms-gammu
  namespace: smart-home
  labels:
    app.kubernetes.io/name: sms-gammu
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: sms-gammu
  template:
    metadata:
      labels:
        app.kubernetes.io/name: sms-gammu
    spec:
      containers:
        - name: sms-gammu
          image: {{ versions.smsgammu.repository }}:{{ versions.smsgammu.tag }}
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /signal
              port: http
            initialDelaySeconds: 30
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          resources:
            requests:
              memory: 16Mi
            limits:
              memory: 32Mi
          volumeMounts:
            - name: modem
              mountPath: /dev/mobile
            - mountPath: /sms-gw/credentials.txt
              subPath: credentials.txt
              name: secret
          env:
            - name: TZ
              value: "{{ global.timezone }}"
          securityContext:
            privileged: true
      volumes:
        - name: modem
          hostPath:
            path: /dev/ttyUSB0
        - name: secret
          secret:
            secretName: sms-gammu-credentials
            defaultMode: 0400
            items:
              - key: credentials.txt
                path: credentials.txt
      nodeSelector:
        modem_controller: "true"
