---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: unifi
  namespace: kube-system
spec:
  chart: unifi
  repo: https://k8s-at-home.com/charts/
  version: {{ manifest.versions.unifi.chart }}
  targetNamespace: home-infra
  valuesContent: |-
    env:
      TZ: {{ global.timezone }}
      JVM_MAX_HEAP_SIZE: 384M
      JVM_MAX_THREAD_STACK_SIZE: 1M
    image:
      repository: {{ manifest.versions.unifi.image.repository }}
      tag: {{ manifest.versions.unifi.image.tag }}
    persistence:
      data:
        enabled: true
        existingClaim: unifi
    service:
      main:
        ports:
          http:
            enabled: true
            port: 443
          controller:
            enabled: true
            port: 80
          stun:
            enabled: false
          discovery:
            enabled: false
          syslog:
            enabled: false
          portal-http:
            enabled: false
          portal-https:
            enabled: false
          speedtest:
            enabled: false
    resources:
      requests:
        memory: 500Mi
      limits:
        memory: 1Gi
