---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: esphome
  namespace: smart-home
  labels:
    app.kubernetes.io/name: esphome
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: esphome
  template:
    metadata:
      labels:
        app.kubernetes.io/name: esphome
    spec:
      containers:
        - name: esphome
          image: {{ manifest.versions.esphome.image.repository }}:{{ manifest.versions.esphome.image.tag }}
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /config
              name: config
          env:
            - name: TZ
              value: {{ manifest.timezone }}
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: esphome
