---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: configure-delta
  namespace: kube-system
  labels:
    app.kubernetes.io/name: configure-delta
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: configure-delta
  template:
    metadata:
      labels:
        app.kubernetes.io/name: configure-delta
    spec:
      containers:
        - name: configure
          image: {{ manifest.versions.ubuntu.repository }}:{{ manifest.versions.ubuntu.tag }}
          imagePullPolicy: IfNotPresent
          command:
          - "/bin/sh"
          - "-ec"
          - |
            apt update
            apt install -y pciutils
            setpci -s 00:1f.0 0xa4.b=0 && echo "setpci done"
            tail -f /dev/null
          volumeMounts:
            - mountPath: /sys
              name: sys
      volumes:
        - hostPath:
            path: /sys
            type: Directory
          name: sys
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - "k3s-delta"
