---
apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: longhorn
  namespace: kube-system
spec:
  chart: longhorn
  repo: https://charts.longhorn.io
  version: {{ manifest.versions.longhorn.chart }}
  targetNamespace: longhorn-system
  valuesContent: |-
    defaultSettings:
      storageOverProvisioningPercentage: 100
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
    annotations:
      prometheus.io/scrape: 'true'
      prometheus.io/port: '9500'

---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: longhorn-standard
provisioner: driver.longhorn.io
allowVolumeExpansion: true
parameters:
  numberOfReplicas: "2"
  staleReplicaTimeout: "2880" # 48 hours in minutes
  fromBackup: ""

---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: longhorn-standard-with-snapshots
provisioner: driver.longhorn.io
allowVolumeExpansion: true
parameters:
  numberOfReplicas: "2"
  staleReplicaTimeout: "2880" # 48 hours in minutes
  fromBackup: ""
  recurringJobs: '[
    { 
      "name":"snap", 
      "task":"snapshot", 
      "cron":"15 */6 * * *", 
      "retain": 8
    }
  ]'
