---
apiVersion: v1
data:
  application_secret: {{ manifest.ovh.application_secret | b64encode }}
kind: Secret
metadata:
  name: ovh-credentials
  namespace: cert-manager
type: Opaque

---
apiVersion: v1
data:
  users: {{ manifest.traefik.htaccess | join('\n') | b64encode }}
kind: Secret
metadata:
  name: traefik-htaccess
  namespace: traefik-system
type: Opaque

---
apiVersion: v1
data:
  auth.conf: {{ "password_file /mosquitto/configinc/passwd" | b64encode }}
  passwd: {{ manifest.mosquitto.htaccess | join('\n') | b64encode }}
kind: Secret
metadata:
  name: mosquitto
  namespace: home-infra
type: Opaque

---
apiVersion: v1
data:
  id_rsa: {{ manifest.recorder.secret.id_rsa | b64encode }}
  mqtt_password: {{ manifest.recorder.secret.mqtt_password | b64encode }}
  ssh_string: {{ manifest.recorder.secret.ssh_string | b64encode }}
kind: Secret
metadata:
  name: recorder-secret
  namespace: smart-home
type: Opaque

---
apiVersion: v1
data:
  RESTIC_PASSWORD: {{ manifest.backup.restic.password | b64encode }}
kind: Secret
metadata:
  name: restic-secrets
  namespace: kube-system
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
type: Opaque
