---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: esphome
  namespace: smart-home
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-standard

---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: esphome
  namespace: smart-home
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`esphome.{{ global.domain }}`)
    kind: Rule
    services:
      - name: esphome
        port: 6052
        namespace: smart-home
    middlewares:
      - name: basic-auth
        namespace: traefik-system
  tls:
    secretName: "{{ global.domain | replace('.', '-') }}-tls"

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: esphome-restic-restore
  namespace: smart-home
spec:
  concurrencyPolicy: Forbid
  schedule: "0 0 * * *"
  suspend: true
  jobTemplate:
    spec:
      template:
        spec:
          hostname: esphome
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: esphome
          containers:
          - name: restore
            image: {{ manifest.versions.restic.repository }}:{{ manifest.versions.restic.tag }}
            args:
            - "--repo"
            - "{{ manifest.backup.restic.repo }}"
            - "--verbose"
            - "restore"
            - "latest"
            - "--host"
            - "esphome"
            - "--target"
            - "/data"
            volumeMounts:
            - mountPath: "/data"
              name: data
            envFrom:
            - secretRef:
                name: restic-secrets
          restartPolicy: OnFailure

---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: esphome-restic-backup
  namespace: smart-home
spec:
  concurrencyPolicy: Forbid
  schedule: "40 04 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          hostname: esphome
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: esphome
          containers:
          - name: backup
            image: {{ manifest.versions.restic.repository }}:{{ manifest.versions.restic.tag }}
            command:
            - "/bin/sh"
            - "-ec"
            - |
              cd /data
              restic --repo "{{ manifest.backup.restic.repo }}" --verbose backup .
            volumeMounts:
            - mountPath: "/data"
              name: data
            envFrom:
            - secretRef:
                name: restic-secrets
          restartPolicy: OnFailure
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: In
                        values:
                          - esphome
                  topologyKey: kubernetes.io/hostname
