---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki
  namespace: home-infra
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: {{ global.k8s.storage.class.default }}
